body{
	background-color: 	#00ff00;
}

.titles{
	text-align: 		center;
	
}

a:visited{
	color: 				white;
}

a:hover{
	color: 				#ff6600;
}

nav, footer{
	color: 				white;
	text-align: 		center;
	background-color: 	grey;
	border-radius: 		25px;
	border-style: 		solid;
	border-color: 		white;
	padding: 			2%;
}

.container{
	border-style: 		solid;
	border-color: 		white;
	border-width: 		2px;
	border-radius: 		25px;
	display: 			flex;
	flex-wrap: 			wrap;	
	background-color: 	grey;
}

aside{
	align-self: center;
	width: 21%;
}

#bio_pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

article{
	color: 				white;
}

p{
	text-indent: 3%;	
}

.section_title{
	text-transform: capitalize;
	text-align: center;
	color: #00ff00;
}

.main-page-sub-article{
	display: flex;
	flex-direction: row;
}

.overall_top{
	display: flex;
}

main{
    background-image: url('https://i.ytimg.com/vi/JRF1vlhwb5U/maxresdefault.jpg');
    background-attachment: local;
}